body{
	margin:0;
}
.box{
	display:inline-block;
	position:absolute;
	background:#d3d3d3; /*gray*/
	width:400px; height:200px;
	left:50%;
	top:50%;
	margin:-100px 0 0 -200px; 
}
/*左上角四分之一圆*/
.quarterCircleLTop{
	display:inline-block;
	position:relative;
	background:#ffff00; /*yellow*/
	height:50px; width:50px;
	border-radius:0 0 50px 0;
	top:0; left:0;
	
}
/*右下角四分之一圆*/
.quarterCircleRBottom{
	display:inline-block;
	position:relative;
	background:#ffff00;  /*yellow*/
	height:50px; width:50px;
	border-radius:50px 0 0 0;
	bottom:-150px;
	right:-292px;
	
}


.